# Big datasets
data/raw/
data/processed/
*.zip
catboost_info/
artifacts/


!data/raw/.gitkeep
!data/processed/.gitkeep

New-Item -ItemType File data\raw\.gitkeep -Force
New-Item -ItemType File data\processed\.gitkeep -Force


# Virtual environments
.venv/
env/
venv/

# Visual Studio / IDE
.vs/
.vscode/
*.user
*.suo

# Python cache
__pycache__/
*.pyc

# Model artifacts / binaries
*.pkl
*.joblib
artifacts/

# ML tool outputs
catboost_info/

# Generated results
*predictions*.csv
*results*.csv

# Archives
*.zip

# OS junk
Thumbs.db
.DS_Store
